Flask>=2.0.0
Flask-SQLAlchemy
Flask-Login
Flask-Migrate
Flask-WTF
openpyxl
xlrd
plotly
dash
dash-bootstrap-components
python-dotenv
SQLAlchemy>=2.0.0
Werkzeug
gunicorn
psycopg2-binary
mysql-connector-python 